{% extends "base.html.twig" %}

{% block title %}
SMS Sent!
{% endblock %}

{% block content %}

    {% if is_granted('ROLE_USER') %}       

        <div class="message">{{ sms_sent_message }}</div>

        <div class="action">
            <div class="message">Return to my account:<div>
            <a href="{{ path('sms_base') }}"><- Back</a>
        </div>

    {% else %}

        <div class="action">
            <div class="message">Please Login first:<div>
            <a href="{{ path('app_login') }}">Login</a>
        </div>

    {% endif %}
   
{% endblock %}

