<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
        Hello from David Moroch
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
